<%# --------------------- ONBOARDING TUTORIAL - STEP 2 ---------------------- %>
<div id="dashboard-tutorial2" class="pt-3 dashboard-tutorial-card d-none">
  <i class="fas fa-times tutorial-close-button" data-action= "click->onboarding#hideTutorial" data-current-highlight= 'navbar-plans'></i>
  <div class="flex-grow-1 d-flex flex-column justify-content-center">
    <%= inline_svg_tag('presentation.svg') %>
    <h3 class="upcase mt-4 mb-3 tutorial-label"><%= t('plans.index.choose_a_plan') %></h3>
    <p class="pb-3"><%= t('plans.index.presentation') %></p>
  </div>
  <div class="dashboard-tutorial-controls d-flex justify-content-between">
    <%= link_to t('tutorial.dashboard.previous'),
                "",
                class: 'btn-navy-border me-2',
                data: { action: 'click->onboarding#previousStep',
                        current_number: 2,
                        current_highlight: 'navbar-plans',
                        previous_step_highlight: 'dashboard-tutorial-card',
                        manager_or_owner: (current_user.manager? || current_user.owner?) } %>
    <%= link_to t('tutorial.dashboard.next'),
                "",
                class: 'btn-navy-border',
                data: { action: 'click->onboarding#nextStep',
                        current_number: 2,
                        current_highlight: 'navbar-plans',
                        next_step_highlight: 'navbar-packages',
                        manager_or_owner: (current_user.manager? || current_user.owner?) } %>
  </div>
</div>
